[submodule "libkcxx"]
	path = libkcxx
	url = https://BlastRock@bitbucket.org/BlastRock/libkcxx.git
[submodule "libkc"]
	path = libkc
	url = https://BlastRock@bitbucket.org/BlastRock/libkc.git
[submodule "libcxxabi"]
	path = libcxxabi
	url = https://github.com/llvm-mirror/libcxxabi.git
[submodule "external/variant"]
	path = external/variant
	url = https://github.com/eggs-cpp/variant
[submodule "external/expected"]
	path = external/expected
	url = https://BlastRock@bitbucket.org/BlastRock/expected.git
[submodule "external/xllpnt"]
	path = external/xllpnt
	url = https://github.com/blastrock/xllpnt
[submodule "external/xlllog"]
	path = external/xlllog
	url = https://bitbucket.org/BlastRock/xlllog
